/*------ Main -------*/
.main{
    background: url(img/image.png);
    background-size: cover;
    position: relative;
}
.back-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(8,3,37,.4);
}
.main>.container{
    z-index: 2;
    padding: 150px 0;
}
.main-blocks{
    display: flex;
    flex-wrap: wrap;
}
.main-blocks> h1{
    font-size: 30px;
    padding: 0 20px;
    margin-bottom: 30px;
    font-weight: 300;
    width: 100%;
    z-index: 1;
}
.main-infoblock{
    margin: 0 10px;
    width: calc(100% / 4 - 20px);
    background-color: rgba(0, 0, 0, 0.7);
}
.main-infoblock-inner{
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.main-infoblock-inner>img{
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
    max-height: 400px;
    transform: scale3d(1.05,1.05,1);
    transition: opacity 0.35s, transform 0.35s;
}
.main-infoblock:hover .main-infoblock-inner> img{
    opacity: 0.6;
    transform: scale3d(1,1,1);
}
.infoblock-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: left;
}
.infoblock-info::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transition: transform 0.6s;
}
.main-infoblock:hover .infoblock-info::before {
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}
.main-infoblock p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    padding: 0 1em;
    max-width: 160px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    transition: opacity 0.35s;
    text-shadow: 0 0 2px #000;
}
.main-infoblock:hover p {
    opacity: 1;
    transition-delay: 0.1s;
}
